body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.title {
    margin-bottom: 20px;
}

.styled-button {
    background-color: white; /* Цвет кнопки */
    color: black;            /* Цвет текста кнопки */
    border: none;           /* Убираем обводку */
    padding: 15px 30px;     /* Отступы внутри кнопки */
    margin: 10px;           /* Отступы между кнопками */
    font-size: 16px;        /* Размер шрифта */
    cursor: pointer;        /* Указатель курсора */
    transition: background-color 0.3s ease, transform 0.2s; /* Анимации */
}

.styled-button:hover {
    background-color: gray; /* Цвет кнопки при наведении */
    transform: scale(1.05); /* Увеличение кнопки при наведении */
}

.styled-button:active {
    transform: scale(0.95); /* Уменьшение кнопки при нажатии */
}